body {
  background-color: #1A1A19;
  color: #b3daff;
  font-family: 'PT Serif', serif;
  font-size: 17px;
  font-weight: lighter;
}
h1,h2,h3 {font-family: 'Roboto', sans-serif;
}
h1 {
  color: darkblue;
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 8px;
  text-align: center; 
}
h2 {
  color: lightgray;
  font-weight: 700;
}
a {
font-family: 'Roboto', sans-serif;
text-decoration: none;
color:darkblue;
font-weight: 600 ;
font-size: 16px;
}
a:hover {
color : black;
}

/* Custom design with class*/
.container{
  width:700px;
  margin:40px auto; 
}

@media (max-width: 500px)

 /*Custom design with class (99% of your design) */
.container {
  width:700px ;
  margin: 40px auto;
  }
}
@media (max-width: 760px){
  .container{
    width: 600px;
  }
}
@media (max-width: 500px) {
  .container{
    width:400px;
  }
}
.card-white {
  background-color: #000028;
  padding: 40px;
  box-shadow: 0px 10px 30px lightblue;
  border-radius: 3px;
  margin: 20px 0px;
  text-align: center;
}
.img-circle{
  border-radius: 70%;
}
.btn-blue{
  background-color: lightblue;
  color: darkblue;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: #3D0C55;
  color: white;
}
.list-inline{
  list-style: none;
  padding-left: 0px;
}
.list-inline li{
  display: incline;
  padding:10px;
}




